<% layout("layouts/boilerplate.ejs") %>
<h2 class="mb-4 mt-3">Search Results</h2>

<% if (listings.length === 0) { %>
  <p>No results found</p>
<% } else { %>
  <div class="row">
    <% listings.forEach(listing => { %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.description.substring(0, 100) %>...</p>
            <p class="card-text text-muted"><%= listing.location %></p>
            <p class="card-text fw-bold">₹<%= listing.price %></p>
            <a href="/listings/<%= listing._id %>" class="btn btn-se">View</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
<% } %>
